<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="{{ url_for('static', filename='Images/logo-default-151x44.png') }}" alt="">
        </div>

        <span class="logo_name">MA MAISON MA VIE</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/index/">
                <i class="fa-solid fa-gauge-high"></i>
                <span class="link-name">Tableau de bord</span>
            </a></li>
            <li><a href="/utilisateur">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Utilisateurs</span>
            </a></li>
            
            <li><a href="/location">
                <i class="uil uil-chart"></i>
                <span class="link-name">Mise en location</span>
            </a></li>
            <li><a href="/vente/">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Mise en vente</span>
            </a></li>
            <li><a href="/service/">
                <i class="uil uil-comments"></i>
                <span class="link-name">Service</span>
            </a></li>
            <li><a href="/interesse/">
                <i class="uil uil-comments"></i>
                <span class="link-name">Interesés</span>
            </a></li>
            <li><a href="/">
                <i class="uil uil-share"></i>
                <span class="link-name">Deconnexion</span>
            </a></li>
        </ul>
        
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Parametre</span>
            </a></li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Mode sombre</span>
            </a>

            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
        </li>
        </ul>
    </div>
</nav>




voici le le selecte de mes table voici ma bd "table Utilisateur colonne (IdUtilisateur, Nom_et_prenoms, Email, Mot_de_pass, Adresse, Telephone, condition_aprouve) 
table user_like colonne (Id, IdLocations, IdMaison, IdUtilisateur, type_action) 
table Services_demande colonne (IdServices_demande, nom_et_prenom, Type_de_services, lieu_debitation, telephonne, Descriptions, Dates, Statut_services) 
table Maison colonne (IdMaison, Ville, Commune, Nombre_de_pieces, Prix_unitaire, Descriptions, Type_de_maison, Statut_maison, GPS, Image1, IdUtilisateur, Likes) 
table Locations colonne (IdLocations, Ville, Commune, Nombre_de_pieces, Prix_mensuel, Caution, Avance, Descriptions, Type_de_maison, Statut_maison, GPS, Image1, IdUtilisateur, Likes)
table interesse colonne (IdServices_demande, nom, prenom, Email, telephonne, Descriptions, IdLocations,IdMaison)
"fair moi une analyse de ces donnée et met le sur un tableau de bord 