<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img src="{{ url_for('static', filename='Images/logo-default-151x44.png') }}" alt="">
        </div>

        <span class="logo_name">MA MAISON MA VIE</span>
    </div>

    <div class="menu-items">
        <ul class="nav-links">
            <li><a href="/index/">
                <i class="uil uil-estate"></i>
                <span class="link-name">Tableua de bord</span>
            </a></li>
            <li><a href="/utilisateur">
                <i class="uil uil-files-landscapes"></i>
                <span class="link-name">Utilisateurs</span>
            </a></li>
            <li><a href="/location">
                <i class="uil uil-chart"></i>
                <span class="link-name">Mise en location</span>
            </a></li>
            <li><a href="/vente/">
                <i class="uil uil-thumbs-up"></i>
                <span class="link-name">Mise en vente</span>
            </a></li>
            <li><a href="/service/">
                <i class="uil uil-comments"></i>
                <span class="link-name">Service</span>
            </a></li>
            <li><a href="/interesse/">
                <i class="uil uil-comments"></i>
                <span class="link-name">Interesés_location</span>
            </a></li>
            <li><a href="/">
                <i class="uil uil-share"></i>
                <span class="link-name">Deconnexion</span>
            </a></li>
        </ul>
        
        <ul class="logout-mode">
            <li><a href="#">
                <i class="uil uil-signout"></i>
                <span class="link-name">Parametre</span>
            </a></li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                <span class="link-name">Mode sombre</span>
            </a>

            <div class="mode-toggle">
              <span class="switch"></span>
            </div>
        </li>
        </ul>
    </div>
</nav>