{% extends 'base.html' %}

{% block enfant %}

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <form method="post" action="/recherche_interesse" class="search-box">
        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" name="mot" placeholder="Recherchez ici...">
            <button type="submit">Rechercher</button>
        </div>
    </form>
    <!-- <script>
        $(document).ready(function(){
            $('#keyword').on('input', function(){
                var keyword = $(this).val();
                if (keyword.length >= 3) {
                    $.ajax({
                        url: '/search',
                        method: 'POST',
                        data: { keyword: keyword },
                        success: function(data){
                            var resultsHtml = '<ul>';
                            data.forEach(function(result){
                                resultsHtml += '<li>' + result + '</li>';
                            });
                            resultsHtml += '</ul>';
                            $('#results').html(resultsHtml);
                        }
                    });
                } else {
                    $('#results').empty();
                }
            });
        });
    </script> -->
        <img src="images/profile.jpg" alt="">
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Tableau de bord</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="fa-regular fa-lightbulb"></i>
                    <span class="text">Interessés</span>
                    <span class="number">{{resultat1[0]}}</span>
                </div>
                <div class="box box1">
                    <i class="fa-solid fa-building"></i>
                    <span class="text">location </span>
                    <span class="number">{{resultat2[0]}}</span>
                </div>
                <div class="box box1">
                    <i class="fa-solid fa-house"></i>
                    <span class="text">vente</span>
                    <span class="number">{{resultat3[0]}}</span>
                </div>
            </div>
        </div>


        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text">Liste des intéressés</span>
            </div>
        
            <table id="intéressésTable" class="table table-bordered table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>prenom</th>
                        <th>Email</th>
                        <th>Téléphone</th>
                        <th>Id location</th>
                        <th>Id vente</th>
                        <th>vue</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in resultat %}
                        <tr>
                            <td>{{ ligne[0] }}</td>
                            <td>{{ ligne[1] }}</td>
                            <td>{{ ligne[2] }}</td>
                            <td>{{ ligne[3] }}</td>
                            <td>{{ ligne[5] }}</td>
                            <td>{{ ligne[6] }}</td>
                            <td>{{ ligne[7] }}</td>
                            <td>
                                {% if ligne[6] is not none %}
                                    <a class="btn btn-sm btn-danger" href="{{ url_for('show_details', typea='location', id=ligne[6]) }}">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                {% elif ligne[7] is not none %}
                                    <a class="btn btn-sm btn-danger" href="{{ url_for('show_details', typea='maison', id=ligne[7]) }}">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>
</section>
{% endblock %}