{% extends 'base.html' %}

{% block enfant %}

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <form method="post" action="/recherche_service" class="search-box">
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" name="mot" placeholder="Recherchez ici...">
                <button type="submit">Rechercher</button>
            </div>
        </form>
        <img src="/static/Images/profile.jpg" alt="">
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Tableau de bord</span>
            </div>
            <div class="boxes">
                <div class="box box1">
                    <i class="fa-brands fa-servicestack"></i>
                    <span class="text">Service</span>
                    <span class="number">{{ resultat1 }}</span>
                </div>
                <div class="box box2">
                    <i class="uil uil-clock-three"></i>
                    <span class="text">Services en cours</span>
                    <span class="number">{{ resultat2 }}</span>
                </div>
                <div class="box box2">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">Services effectuer</span>
                    <span class="number">{{ resultat3 }}</span>
                </div>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text"> Service demandés</span>
            </div>
        
            <table id="servicesTable" class="table table-bordered table-striped" style="width: 100%;">
                <div class="filters row g-3">
                    <div class="col-auto"><input type="date" id="filterDate" class="form-control"></div>
                    <div class="col-auto"><input type="text" id="filterService" class="form-control" placeholder="type serrvice" ></div>
                    <div class="col-auto"><input type="text" id="filterLieu" class="form-control" placeholder="lieu"></div>
                    <div class="col-auto"><input type="text" id="filterStatut" class="form-control" placeholder="Statut"></div>       
                </div>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom et Prénom</th>
                        <th>Service</th>
                        <th>Résidence</th>
                        <th>Téléphone</th>
                        <th>Descriptions</th>
                        <th>Data de Visite</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in resultat %}
                        <tr>
                            <td>{{ ligne[0] }}</td>
                            <td>{{ ligne[1] }}</td>
                            <td>{{ ligne[2] }}</td>
                            <td>{{ ligne[3] }}</td>
                            <td>{{ ligne[4] }}</td>
                            <td>{{ ligne[5] }}</td>
                            <td>{{ ligne[6] }}</td>
                            <td>
                                {% if ligne[7] == "en_cours" %}
                                    <a class="btn btn-sm btn-danger" href="/Statut_services/{{ ligne[0] }}" onclick="return confirm('Tu veux le licencier vraiment?')">
                                        <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
                                    </a>
                                {% else %}
                                    <a class="btn btn-sm btn-success" href="/Statut_services/{{ ligne[0] }}" onclick="return confirm('Tu veux le réemployer vraiment?')">
                                        <i class="fa-solid fa-person-walking-arrow-loop-left"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>


{% endblock %}
