{% extends 'base.html' %}

{% block enfant %}

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <form method="post" action="/recherche_utilisateur" class="search-box">
        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" name="mot" placeholder="Recherchez ici...">
            <button type="submit">Rechercher</button>
        </div>
    </form>
        <img src="images/profile.jpg" alt="">
    </div>

    <div class="dash-content">
        <div class="overview">
            <div class="title">
                <i class="uil uil-tachometer-fast-alt"></i>
                <span class="text">Tableau de bord</span>
            </div>

            <div class="boxes">
                <div class="box box1">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="text">Utilisateur</span>
                    <span class="number">{{resultat1[0]}}</span>
                </div>
            </div>
        </div>

        <div class="activity">
            <div class="title">
                <i class="uil uil-clock-three"></i>
                <span class="text"> Liste des utilisateurs</span>
            </div>
            <table id="utilisateursTable" class="table table-bordered table-striped" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom et Prénom</th>
                        <th>Email</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ligne in resultat %}
                        <tr>
                            <td>{{ ligne[0] }}</td>
                            <td>{{ ligne[1] }}</td>
                            <td>{{ ligne[2] }}</td>
                            <td>{{ ligne[4] }}</td>
                            <td>{{ ligne[5] }}</td>
                            <td>
                                <a class="btn btn-sm btn-danger" href="" onclick="return confirm('vous  veux le licencier vraiment?')">
                                    <i class="fa-regular fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}







<h1>Analyse des Données</h1>

<!-- Analyse des Utilisateurs -->
<h2>Analyse des Utilisateurs</h2>
<button onclick="loadChart('utilisateurs_par_ville', 'userChart')">Distribution des Utilisateurs par Ville</button>
<button onclick="loadChart('types_actions', 'userChart')">Types d'Actions les Plus Courantes</button>
<canvas id="userChart" width="400" height="200"></canvas>

<!-- Analyse des Interactions Utilisateur (user_like) -->
<h2>Analyse des Interactions Utilisateur (user_like)</h2>

<button onclick="loadChart('location_populaires', 'interactionChart')">Locations les Plus Appréciées</button>
<button onclick="loadChart('maisons_populaires', 'interactionChart')">Maisons les Plus Appréciées</button>
<canvas id="interactionChart" width="400" height="200"></canvas>



<!-- Analyse des Propriétés (Maisons et Locations) -->
<h2>Analyse des Propriétés (Maisons et Locations)</h2>
<button onclick="loadChart('repartition_proprietes', 'propertyChart')">Répartition des Propriétés par Ville et Commune</button>
<button onclick="loadChart('popularite_proprietes', 'propertyChart')">Popularité des Propriétés</button>
<canvas id="propertyChart" width="400" height="200"></canvas>

<!-- Analyse des Demandes de Services -->
<h2>Analyse des Demandes de Services</h2>
<button onclick="loadChart('demande_services_par_type', 'serviceChart')">Demande de Services par Type</button>
<button onclick="loadChart('statut_services_demandes', 'serviceChart')">Statut des Services Demandés</button>
<canvas id="serviceChart" width="400" height="200"></canvas>

<h2>Analyse des prix de Propriétés (Maisons et Locations)</h2>
<button onclick="loadChart('analyse_prix_maison', 'propertyprixChart')">Analyse des Prix des maison en vente</button>
<button onclick="loadChart('analyse_prix_location', 'propertyprixChart')">Analyse des Prix des maison en location</button>
<canvas id="propertyprixChart" width="400" height="200"></canvas>